
*{

    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: "Roboto", sans-serif;
}

/* home section start */
.container{
    width:100%;
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(Imagines/home.png);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    padding-right: 70%;
    box-sizing: border-box;
    
}

.row{
    padding: top 210px;
    margin-left:56px;
}


 nav {
    height: 12%;
    display: flex;
     align-items: center;
     justify-content: space-between;
     margin-right: 70px;
     margin-top: 50px;
}

 img{
    width:100px;
    margin-top: -7px;
    margin-left:200px;
    cursor: pointer;

 }
 nav ul li{
    display: inline-block;
    list-style:none;
    margin: 10px 15px;
 }
 
 nav ul li a{
    text-decoration: none;
    color:#fff;
    font-weight: 400;
    cursor: pointer;
 }

 nav ul li a:hover{
    border-radius:5px;
    color:blue;
}
 
   .sign-btn{
    text-decoration: none;
    color: #fff;
    margin-right:15px;
    font-weight:400;
    

 }

 .sign-btn:hover{
    
    color: blue;
}
 .sin-btn{
   display: inline-block;
   text-decoration: none;
   background-color: transparent;
   border: 2px solid white;
   color: white;
   border-radius: 20px;
   font-size: 16px;
   background-clip:content-box,border-box ;
   background-origin:border-box ;
   cursor: pointer;
   transition: background-color 0.3,;
   
 }
 .sin-btn:hover{
    color: blue;
    scale: 1.05;
    background-color: #c4c8c9;
 }

 .sin-btn span{
    display: block;
    padding: 8px 22px;
 }

 .row{
    display: flex;
    height: 60%;
    align-items: center;
 }
 .col{
    flex-basis:50%;
 }
 
 h3{

    margin-left:200px;
    color: white;
    font-size: 100px;
    font-weight: bold;
    
 }

  p{
    color: white;
    font-size: 15px;
    margin-left:200px;
    margin-top: 20px;

  }

 #btn{
    width:140px;
    height: 36px;
    font-size: 12px;
    color: #fff;
    margin-top:20px;
    margin-left:200px ;
    background:rgba(62, 143, 230, 0.97);
    border-radius:20px;
    font-weight:bold;
    border:none;
    transition: 0.5s ease;
    cursor:pointer;

}

#btn:hover{
    background: #1d1f202f;
    color: white;
}

.hero{
    width: 100%;
    overflow: hidden;

}
.image{
    
    float: right;
    margin-top: -20px;
    margin-right:200px;
    cursor: pointer;
    width: 300px;
    height:300px;

}




@media  screen and (max-width: 982px) {
    .hero{
        font-size: 8px ;
  }
    

}

@media  screen and (max-width: 765px) {
    .hero{
        font-size: 15px ;

    }
    .hero{
        height: 120vh;
    }

 }
    




/* home section end */